<!DOCTYPE html>
<html lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link href="http://fonts.googleapis.com/css?family=Dosis:700|Exo+2:700italic,300,700,300italic&subset=cyrillic,latin,latin-ext" rel="stylesheet" type="text/css">

	{% assets "css" %}
		<link href="{{ ASSET_URL }}" rel="stylesheet">
	{% endassets %}

	<title>{{title}}</title>
</head>

<body onload="main()">
	<div id="vk_api_transport"></div>
	<!--script type="text/javascript">
		window.vkAsyncInit = function() {
			VK.init({
				apiId: app_id_here
			});
		};

		setTimeout(function() {
			var el = document.createElement("script");
			el.type = "text/javascript";
			el.src = "//vk.com/js/api/openapi.js";
			el.async = true;
			document.getElementById("vk_api_transport").appendChild(el);
		}, 0);
	</script
    <nav>
        <a href="/index">Index</a>
        {% if not user %}
        <a href="/login">Login with VK</a>
        {% else %}
        <a href="/manage">Post</a>
        {% if current_user.grup == "admin" %}
        <a href="/users">Users</a>
        {% endif %}
        <a href="/logout">Logout</a>
        <a class="right">Loged in as {{current_user.mail}}</a>
        {% endif %}
        <a class="right" href="/about">About</a>
    </nav>-->

	<div class="blog">
		{% block content %}{% endblock %}
	</div>

	{% assets "js" %}<script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}

	<script>
		function main() {
			{% if message %}alert("{{message}}");{% endif %}
			$(".rest").restfulizer();
		}
	</script>
</body>
</html>