{% extends "base.html" %}

{% block content %}
	{% for post in posts %}
		<div class=post>
			<div class=info>
				<h2>
					<a href="/posts/{{post.id}}">{{post.title}}</a>
				</h2>
				<div class=meta>
					{% if is_owning(current_user, post) %}
						<a href="/manage/{{post.id}}">
							<button class="fa fa-pencil" ></button>
						</a>
						<a data-method="DELETE" class="rest" href="/manage/{{post.id}}">
							<button class="fa fa-close" ></button>
						</a>
					{% endif %}
					{{post.time}} by {{post.user.mail}}
				</div>
			</div>
			<div class=cut>{{post.cut}}</div>
			<hr/>
		</div>
	{% endfor %}
{% endblock %}
